{% extends "base.html" %}
{% block main %}
{% if request.method == 'GET' %}
<div class='container' style='margin:center; background-color:#FFCC00; padding: 20px'>
                                <form class="login_form" method="post">
                                    <input type="text" class="form-control" id="name" placeholder="Введите имя" name="name">
                                    <input type="text" class="form-control" id="surname" placeholder="Введите фамилию" name="surname">
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
                                    <div class="form-group">
                                        <label for="classSelect">Образование</label>
                                        <select class="form-control" id="classSelect" name="class">
                                          <option>Среднее неполное</option>
                                          <option>Среднее профессиональное</option>
                                          <option>Высшее образование</option>
                                          <option>Магистратура</option>
                                        </select>
                                     </div>
                                    <div class="form-group">
                                        <label for="about">Мотивация для участия в миссии:</label>
                                        <textarea class="form-control" id="about" rows="3" name="about"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-check">Основные профессии</label>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="engineer" value="engineer" checked>
                                          <label class="form-check-label" for="engineer">
                                            Инженер-исследователь
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="pilot" value="pilot">
                                          <label class="form-check-label" for="pilot">
                                            Пилот
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="builder" value="builder">
                                          <label class="form-check-label" for="builder">
                                            Строитель
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="exobiologist" value="exobiologist">
                                          <label class="form-check-label" for="exobiologist">
                                            Экзобиолог
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="doctor" value="doctor">
                                          <label class="form-check-label" for="doctor">
                                            Врач
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="terraforming-engineer" value="terraforming-engineer">
                                          <label class="form-check-label" for="terraforming-engineer">
                                            Инженер по терраформированию
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="climatologist" value="climatologist">
                                          <label class="form-check-label" for="climatologist">
                                            Климатолог
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="radio-def-specialist" value="radio-def-specialist">
                                          <label class="form-check-label" for="radio-def-specialist">
                                            Специалист по радиационной защите
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="astrologer" value="astrologer">
                                          <label class="form-check-label" for="astrologer">
                                            Астролог
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="cyberengineer" value="cyberengineer">
                                          <label class="form-check-label" for="cyberengineer">
                                            Киберинженер
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="job" id="drone-pilot" value="drone-pilot">
                                          <label class="form-check-label" for="drone-pilot">
                                            Пилот дронов
                                          </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-check">Укажите пол</label>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
                                          <label class="form-check-label" for="male">
                                            Мужской
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                                          <label class="form-check-label" for="female">
                                            Женский
                                          </label>
                                        </div>
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
                                        <label class="form-check-label" for="acceptRules">Готовы остаться на Марсе?</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </form>
{% elif request.method == 'POST' %}
<div class='container' style='padding-left: 20px'>
  <ul>
    <li>Имя: {{request.form.get('name')}}</li>
    <li>Фамилия: {{request.form.get('surname')}}</li>
    <li>Почтовый адрес: {{request.form.get('email')}}</li>
    <li>Образование: {{request.form.get('classSelect')}}</li>
    <li>Пол: {{request.form.get('sex')}}</li>
    <li>Мотивация: {{request.form.get('about')}}</li>
    <li>Профессия: {{request.form.get('job')}}</li>
    <li>Готовы остаться на Марсе? {{request.form.get('accept')}}</li>
  </ul>
</div>
{% endif %}
{% endblock %}