<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Выбор планеты</title>
</head>
<body>
  <h1>Мое предложение: {{ planet }}</h1>
  <div class="alert alert-primary" role="alert">
      Она большая и цветастая.
    </div>
    <div class="alert alert-success" role="alert">
      На ней все необходимые ресурсы и больше!
    </div>
    <div class="alert alert-warning" role="alert">
      На ней есть магнитное поле!
    </div>
    <div class="alert alert-dark" role="alert">
        На ней есть своя уютная атмосфера.
    </div>
    <div class="alert alert-info" role="alert">
        Наконец, она просто красива!
    </div>
</body>
</html>