{% extends "base.html" %}

{% block main %}

{% set jobs = ['Инженер-исследователь', 'Пилот', 'Строитель', 'Экзобиолог', 'Врач', 'Инженер по терраформированию', 'Климатолог', 'Специалист по радиационной защите', 'Астролог', 'Киберинженер', 'Пилот дронов'] %}
<h2>Список профессий</h2>
{% if name == 'ul' %}
<ul>
	{% for i in jobs %}
	<li>{{i}}</li>
	{% endfor %}
</ul>
{% elif name == 'ol' %}
<ol>
	{% for i in jobs %}
	<li>{{i}}</li>
	{% endfor %}
</ol>
{% else %}
<p>Параметр указан неверно</p>
{% endif %}

{% endblock %}